.minimized-post-container {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.minimized-post-container:hover {
    background-color: #f0f0f0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details .username {
    font-weight: bold;
}

.user-details .post-date {
    font-size: 0.8em;
    color: #666;
}

.post-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
}
.post-likes {
    color: #333;
    margin-top: 5px;
    font-size: 0.9em;
}

.post-content {
    margin-bottom: 8px;
}