
.post-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    font-size: 1.2em;
}

.post-date {
    color: #555;
}

.post-title {
    margin: 10px 0;
}

.post-description {
    color: #555;
}

.post-likes {
    margin-top: 15px;
    color: #888;
}

.like-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.like-button:hover {
    background-color: #45a049;
}
.edit-button {
    background-color: #f0ad4e; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.edit-button:hover {
    background-color: #ec971f; 
}
.delete-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}